<div
  class="text-white"
  style="height: 25vh; width: 100%; background-color: #433633"
>
  <div class="container">
    <footer class="footer mt-auto">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-white">About</a>
        </li>
      </ul>
      <div class="container p-4 pb-0 d-flex justify-content-center">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-facebook"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-linkedin"></i
          ></a>

          <!-- Github -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
      <p class="text-center">© 2022 Cibozero</p>
    </footer>
  </div>

  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/formvalidate.js"></script>
</div>
