<div class="text-white mt-4" style="background-color: #567132">
  <div class="container">
    <footer class="footer">
      <div
        class="container p-4 d-flex flex-column align-items-center justify-content-center"
      >
        <!-- Section: Social media -->
        <!-- <section class="mb-4"> -->
        <!-- Facebook -->

        <!-- Twitter -->
        <!-- <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-twitter"></i
          ></a> -->
        <!-- Instagram -->
        <!-- <a
            class="btn btn-outline-light btn-floating m-1"
            href="#!"
            role="button"
            ><i class="bi bi-instagram"></i
          ></a>
        </section> -->
        <!-- Section: Social media -->
        <p class="text-center my-2">© 2022 Cibozero</p>
      </div>
      <!-- Grid container -->
    </footer>
  </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/formvalidate.js"></script>
