<nav
  class="navbar navbar-expand-lg shadow-sm sticky-top navbar-dark mb-0"
  style="background: #567132"
>
  <div class="container-fluid">
    <img
      src="/img/Logo_white.svg"
      class="ms-2 mx-3"
      style="width: 2.1rem"
      alt=""
    />
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header" style="background: #567132">
        <h1 class="text-white">Cibozero</h1>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body fs-5" style="background: #567132">
        <ul class="navbar-nav p-1 justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/produttori">I Produttori</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/produttori/registrazione"
              >Registrati</a
            >
          </li>
        </ul>
        <div class="d-flex justify-content-end align-items-center">
          <% if (!currentUser) { %>
          <a href="/login" class="btn btn-outline-light me-2"
            ><small><b>login</b></small></a
          >
          <% } else {%>
          <a href="/logout" class="btn btn-outline-warning fs-6 me-2"
            ><small><b><%= currentUser.name %> logout</b></small></a
          >
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- flash -->
<div><%- include('flash') %></div>
