<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navbar') %> <br />
    <div class="container-md mb-5">
      <div class="container text-center my-4">
        <h1>Sei un produttore, registrati su Cibozero</h1>
        <h2 class="text-muted mb-4">Ti spieghiamo cosa è Cibozero</h2>
      </div>
      <h3>Lorem ipsum dolor sit amet consectetur.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        nesciunt quam suscipit architecto omnis sed. Fugiat mollitia harum,
        accusantium ipsum, accusamus ullam magnam iusto, neque sint debitis
        consequuntur beatae nostrum. Nulla perspiciatis rem deserunt quaerat
        consequatur dolorem? Natus iure nostrum, adipisci culpa nobis vel
        reprehenderit veritatis pariatur nam sint repudiandae accusamus
        recusandae facere illo officia sunt? Nihil illo nisi, porro aspernatur
        repellendus, voluptatem necessitatibus eos rem molestiae eius ea maxime
        voluptatum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
        dolores vero magnam. Eligendi vitae accusantium magnam tempore labore
        cupiditate nulla mollitia molestiae sit non sed rem enim inventore ea
        aliquid at in quaerat a, cumque repudiandae harum officia maxime. In
        eveniet dolores, veritatis magnam earum ratione? Consequuntur
        accusantium praesentium quo obcaecati aut corporis quibusdam, illum
        natus ad? Culpa debitis eum consequuntur vel accusantium ipsum aliquam?
        Libero voluptates nostrum error nihil est nam voluptatibus reiciendis
        facilis, accusantium ipsam, dicta sit iure, praesentium odit sunt. Hic
        facere tempora, delectus ipsum repudiandae placeat impedit nostrum,
        quisquam veniam natus libero minus deleniti. Quo, ut?
      </p>
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, itaque?
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam esse
        impedit eveniet iste ipsum, velit, nemo, vitae repudiandae accusamus
        fuga veritatis numquam voluptate! Quis quaerat laborum beatae pariatur
        vitae cupiditate culpa mollitia rerum. Saepe at soluta reprehenderit
        tenetur molestiae. Ab iure delectus pariatur sunt debitis animi sint
        consequuntur, deserunt nemo quisquam eius minus eligendi quibusdam est
        dicta blanditiis porro odit accusamus! Molestias aspernatur, iusto in
        impedit saepe aliquam sapiente error aut magni vitae sequi! Doloribus
        corrupti commodi explicabo labore suscipit dolorem at quos, earum enim
        eius iure harum quod. Quo, sit impedit! Eos ea, labore reiciendis
        similique voluptates rerum commodi.
      </p>
    </div>
    <br />
    <div class="d-flex justify-content-center my-2 mb-5">
      <a class="btn btn-success" href="/registrazione"
        >Registrati su Cibozero</a
      >
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
