<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body>
    <img
      src="https://images.unsplash.com/photo-1569880153113-76e33fc52d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
      style="object-fit: cover; height: 100vh; width: 100%"
      class="img-fluid"
      alt=""
    />
    <div
      class="centered"
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <a href="/prodotti" class="btn btn-success shadow-lg text-uppercase fs-1">
        <h1 class="p-2" style="font-size: 3.2rem">Entra in Cibozero</h1>
      </a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
