<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <body style="background-color: #567132">
    <div
      class="d-flex flex-column align-items-center"
      style="
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <img
        src="/img/Logo_white.svg"
        class="mb-3"
        style="width: 10rem"
        alt="cibozero"
      />
      <div class="container text-center text-white">
        <form action="/" method="POST">
          <input
            type="text"
            class="form-control form-control-lg my-4"
            placeholder="In quale Città abiti?"
            name="city"
            id="city"
            style="width: 20rem"
          />
          <button
            type="submit"
            class="btn btn-outline-light text-center shadow rounded fs-4 mt-3"
          >
            Entra in Cibozero
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
