/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  --surface-color: #fff;
  --curve: 40;
  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  /* --first-color: hsl(var(--hue), var(--sat), 40%); */
  --first-color: #567132;
  --20-color: #4d662d;
  --20-color: #455a28;
  --30-color: #3c4f23;
  --40-color: #34441e;
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: #fcf8f2;
  --body-color-2: #fafbff;
  --container-color: #fff;
  /*========== Font and typography ==========*/
  --body-font: 'Barlow', sans-serif;
  --title-font: 'Lato', sans-serif;
  --h1-font-size: 1.5rem;
  --nav-font-size: 1.325rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* NAVBAR SECTION & MOBILE MENU */

.text-theme {
  color: var(--40-color);
}
.title-font {
  font-family: var(--title-font);
}
.bg-theme {
  background-color: var(--first-color);
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
  .mobile_bottom {
    height: 5rem;
  }
  /* HERO */
  .hero-section-farm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--40-color);
  margin-bottom: var(--header-height);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover,
:focus {
  color: var(--first-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fcf8f2;
  /* background-color: var(--container-color); */
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
  max-width: 7rem;
}

.mobile__only {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }

  .footer {
    display: none;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  font-family: var(--title-font);

  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

.logo__size {
  width: 2.4rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 5px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
  background-color: var(--container-color);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
    font-family: var(--title-font);
  }
  .footer {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem); /* 4.5rem */
    justify-content: space-between;
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .logo__size {
    width: 4.125rem;
  }
  .nav__name {
    font-size: var(--nav-font-size);
    font-family: var(--title-font);
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CARD SECTION */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
  margin: 4rem 5vw;
  list-style-type: none;
}

.cardy {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}

.card__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 2em;
  background-color: var(--surface-color);
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}
/ .card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card-w {
  max-width: 25rem;
  background-color: var(--surface-color);
  border-radius: calc(var(--curve) * 1px);
}

/* END OF CARD SECTION */

.classic-btn {
  background-color: #567132;
  color: rgba(256, 256, 256, 0.9);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 0;
  padding: 0.45rem 1rem;
  max-width: 6rem;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.classic-btn:hover {
  transition: all 0.3s ease;
  background-color: #34441e;
}

.full-btn {
  background-color: #567132;
  color: rgba(256, 256, 256, 0.9);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 0;
  padding: 1.35rem 1rem;
  width: 100%;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.full-btn:hover {
  transition: all 0.3s ease;
  background-color: #34441e;
}

.icon-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.fav-icon {
  color: white;
  transition: 0.3s ease-in;
}
.fav-icon-on {
  color: red;
  transition: 0.3s ease-in;
}

.flash-msg {
  font-size: 0.65rem;
}
