<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <div class="container py-5 mb-5" style="margin-top: 3rem">
      <div class="row d-flex justify-content-center g-3">
        <div class="col mx-2 my-5" style="max-width: 25rem">
          <h1 style="color: #567132"><b>Cibozero</b></h1>
          <p class="fs-3">Il miglior cibo intorno a te, tutto a km zero.</p>
        </div>
        <div class="col mx-2" style="max-width: 25rem">
          <div
            class="card shadow border-light justify-content-center mb-5"
            style="border-radius: 0.65rem"
          >
            <div class="p-5">
              <form
                action="/login"
                method="POST"
                class="needs-validation"
                novalidate
              >
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    placeholder="Username"
                    id="username"
                    required
                  />
                  <div class="valid-feedback">Perfetto!</div>
                </div>
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                    id="password"
                    required
                  />
                  <div class="valid-feedback">Perfetto!</div>
                </div>
                <div class="d-flex justify-content-center my-4 mt-5">
                  <button
                    type="submit"
                    class="btn btn-bg text-white"
                    style="width: 32rem; background-color: #567132"
                  >
                    <b>Accedi</b>
                  </button>
                </div>
                <hr style="width: 60%; margin: auto; color: #d5d5d5" />
                <div class="d-flex justify-content-center my-4">
                  <a
                    class="btn btn-bg btn-dark"
                    style="width: 32rem"
                    href="/registrati"
                    ><b>Iscriviti</b></a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
