    <!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>
  <body>
    <%- include('../partials/nav') %>
    <div class="container px-4 mt-5 pt-5 bg-white shadow-sm rounded" style="margin-top:8rem ;">
      <div class="row p-5">
        <h1 class="text-center mt-4 display-4 fw-bold" >Modulo di Registrazione</h1>
        <div class="col-md p-3 m-4">   
            <form
              action="/registrati"
              method="POST"
              class="needs-validation "
              novalidate
            >
              <div class="mb-3">
                <input
                  type="text"
                  placeholder="Username"
                  class="form-control"
                  name="username"
                  id="username"
                  required
                />
                <div class="valid-feedback">Perfetto!</div>
              </div>
              <div class="mb-3">
                <input
                  type="email"
                  placeholder="Email"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
              </div>
                <div class="mb-3">
                <input
                  type="password"
                  placeholder="Password"
                  class="form-control"
                  name="password"
                  id="password"
                  required
                />
                <div class="valid-feedback">Perfetto!</div>
              </div>
              <div class="d-flex justify-content-center my-4">
                <button
                  class="btn btn-bg btn-primary"
                  style="width: 32rem"
                  type="submit"
                >
                  Iscriviti
                </button>
              </div>
            </form>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>

  </body>
</html>
